            /* body {   

            } */
            * {
                margin: 0;
                padding: 0;
                font-family: inter;
            }
            
            #logo {
                display: flex;
                align-items: center;
            }
            
            #logo img {
                margin-right: 10px;
            }
            
            #fond {
                background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6) ), url('../../img/fond-ecran-site.jpeg');
                background-size:cover;
                padding-top: 30%;
                min-height: 120vh;
                

            }
            main.content {
              /*background-color: darkgreen;*/
                margin: 20px;
                padding: 20px;
            }
            h1{
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                color: whitesmoke;
                text-shadow: #24262b;
            }
            p{
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                color: whitesmoke;
                text-shadow: #353432;
            }
            .mainContainer {
                display: grid;
                flex-direction: row;
                justify-content: space-around;
                text-align: center; 
                padding: 20px;
                border-radius: 15px;
            }
            h2{
                font-family: Arial, Helvetica, sans-serif;
               
                color: black;
                text-decoration:solid;
            }
            h3{
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 19px;
                color: black;
                text-decoration:solid;
            }
            .item {
                display: flex;
                flex-direction: column;
               
            }
            .image-container {
                width: 150%;
                height: 320px;
                background-size: cover;
                background-position: center;
                border-radius: 10px;
            }

            .rows{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
         
                padding: 20px;
                border-radius: 15px;
            
            }




button{
    border-radius: 30px ;
 
}






            #bibliotheques1 {
                background-image: url('../../img/arachno.jpeg');
                width: 220px;
                height: 320px;
            }
            #bibliotheques2 {
                background-image: url('../../img/rutes.jpeg');
                width: 220px;
                height: 320px;
            }
            #bibliotheques3 {
                background-image: url('../../img/ARTICLE.jpeg');
                width: 220px;
                height: 320px;
            }
            #button1, #button2, #button3 {
                display: block;
                margin: 20px auto;
                background-color: #81AE64;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                font-size: 13px; 
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-left: 50px;
                justify-content: space-evenly;
            }
            #button1 a, #button2 a, #button3 a {
                text-decoration: none;
                color: white;
            }
            #button1:hover, #button2:hover, #button3:hover {
                background-color: #81AE64;
                text-decoration: none;
                box-shadow: #353432;
            }
            
            ul{
                list-style: none;
                left: 0;
            }
            
            .row{
                display: flex ;
                flex-wrap: wrap;
            }
