/* Styles pour les écrans de tablettes */
@media (max-width: 768px) {
    nav a {
        margin-right: 30px;
    }
    main {
        padding-top: 0;
    }
    .mainContainer .item {
        flex-direction: column;
    }
}
/* Styles pour les écrans de mobiles */
@media (max-width: 480px) {
    nav{
        margin-bottom: 0;
        width: 100%;
    }
    nav a {
        display: block;
        margin-right: 0;
        margin-bottom: 0;
    }
    main {
        padding-top: 0px;
        
    }
    .mainContainer{
        width: 100%;
    }
    .mainContainer .item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px; 
    }
    .mainContainer h2 {
        text-align: center; 
        font-size: 15px;
        margin-right: 10px;
        margin-left: 40px;
    }
    .mainContainer h3{
        text-align: center; 
        font-size: 10px; 
        margin-right: 10px; 
    }
    .mainContainer .item button {
        width: 100%; 
        margin: 10px auto; 
        transition: background-color 0.3s ease;
    }
    .mainContainer .item button:hover {
        background-color: #2e7d32;
    }
}
@media (max-width: 767px){
    .footer-col{
        width: 100%;
        margin-bottom: 20px;
    }    
}