.nav-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.logo {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    justify-self: start ;
    letter-spacing: 0.1em;
    float: left;
    margin-right: 20px;

}

.logo img {
    display: block;
    max-width: 100%;
    height: 70px;
}

.group {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: grid ;
    grid-template-columns: repeat(6, auto);
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    margin-top: 20px;
    gap: 100px;
}

.nav-links{
    list-style: none;
}



.nav-links {
    text-decoration: none;
    position: relative;
    color: #333;
    font-size: 1em;
    letter-spacing: 0.2em;
}

.nav-links::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

header .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
}

.search a {
    text-decoration: none;
    color: black;
}

.nav-container span{
    text-decoration: none;
    color: black;
    font-size: 1.5em;

}

.searchIcon {
    padding-right: 50%;
}

.menu-toggle .bar{
    width: 25px; /* Adjust the width of the bars as needed */
    height: 3px; /* Adjust the height of the bars as needed */
    background-color: #333; /* Set the color of the bars */
    margin: 5px auto; /* Adjust the spacing between bars */
    transition: all 0.3s ease-in-out;

}


@media screen and (max-width: 768px){
    .nav-container {
        position: relative;
        width: 100%;
    }

    .nav-menu { 
        display: grid;
        grid-template-columns: auto;
        background-color: #81AE64;
        margin:0;
        width: 100%;
        position: absolute;
        top : 80px;
       left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .search {
        display: none;
    }

    .logo {
        margin-left: 20px;
    } 
    
    .nav-menu.active{
        background-color: #81AE64;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;

    }
    .nav-links{
        text-align: center;
        line-height: 30px;
        width: 100%;
        display: table;
        color:#fff
       

    }
    .nav-links:hover{
        background-color: #333;
        color: #fff;
        transition: all 0.5s ease-out;
    }

    .navbar{
        width: 100%;
        color: #333;
    }

    #mobile-menu{
        display: block;
        top: 20px;
        right: -170px;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar{
        width: 25px; /* Adjust the width of the bars as needed */
        height: 3px; /* Adjust the height of the bars as needed */
        background-color: #333; /* Set the color of the bars */
        margin: 5px 0; /* Adjust the spacing between bars */
        display: block;
        cursor: pointer;


    }

    .menu-toggle:hover{
        cursor: pointer;
    }




}
