header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);

}

.logo {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    float: left;
    margin-right: 20px;

}

.logo img {
    display: block;
    max-width: 100%;
    height: 70px;
}

.group {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    position: relative;
    gap: 100px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    position: relative;
    color: #333;
    font-size: 1em;
    letter-spacing: 0.2em;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

header .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
}

.search a {
    text-decoration: none;
    color: black;
}

.searchIcon {
    padding-right: 50%;
}


