* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    height: 100vh;
}

section .imgBox {
    width: 50%;
    background-position: center ;
    background-size: cover;
}

section .contentBox {
    width: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
