
/*body*/ 
.taxaGrid {
    display: grid;
    grid-template-columns: 60% 40%;
}

.left-column{
    padding: 20px;
    margin-left: 50px;
}

.taxaImage {
    max-width: 85%;
    max-height: 60vh;
}

.right-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px 20px;
    border-radius: 20px;
}

.section{
    padding: 5px;

}

.section h3{
    width: 70%;
    background-color: #81AE64;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    color: white;
}

.section p {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    align-items: center;
}

.section h4 {
    margin-left: 1rem;
}

.table-section {
    margin-top: 6vh;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.table-section h3{
    display: flex;
    margin: auto;
    text-align: center;
    background-color: #81AE64;
    border-radius: 20px;
    padding: 10px 15vh;
    color: white;
}

table {
    
    border-collapse: collapse;
    margin: 20px;
    border-radius: 3px;

}

th{
    background-color: #353432;
    color: white;

    
}

td, th {
    border: 1px solid #272726;
    padding: 15px;
}

.interactionLink {
    color: #81AE64;
    text-decoration: none;
}

.links {
    background-color: #81AE64;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
}
