/* CSS pour tablette */
@media (max-width: 768px) {
    .taxaGrid {
        grid-template-columns: 1fr;
    }
    .left-column, .right-column {
        padding: 10px;
        margin: auto;
    }
    .taxaImage {
        max-width: 100%;
        max-height: 50vh;
    }
    .table-section h3 {
        padding: 10px 5vh;
    }
    .links {
        font-size: 16px;
        padding: 5px 5px;
    }
}

/* CSS pour mobile */
@media (max-width: 480px) {
    .taxaGrid {
        grid-template-columns: 1fr;
    }
    .left-column, .right-column {
        padding: 5px;
        margin: auto;
    }
    .taxaImage {
        max-width: 100%;
        max-height: 40vh;
    }
    .table-section h3 {
        padding: 10px 2vh;
    }
    .links {
        font-size: 14px;
        padding: 5px 2px;
    }
}