
/* creer un box une box dans laquelle se trouve les input */
.login-box{
    display: block;
    position: relative;
    width: 400px;
    margin: 2% auto 2%;
    background: rgba(255, 255, 255, 0.671);
    border-radius: 10px;
    border-color: #adadad;

}
/*modifie le titre de la box */
.login-box h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;


}
/*modifie le formulaire */
.login-box form{
    padding: 0 40px;
    box-sizing: border-box;
}
/*modfie les label et input */
form .textbox{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

/*modfie le texte input */
.textbox input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;

}

.textbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
/*animation */
.text-box span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    pointer-events: none;
    transition: .5s;

}

.textbox input:focus ~ label,
.textbox input:valid ~ label{
    top: -5px;
    color: #2691d9;
    font-size: 12px;
}

.textbox input:focus ~ span::before,
.textbox input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{

    border: 1px solid;
    color: #e9f4fb;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    width: 100%;
    height: 50px;
    font-weight: 700;
    outline: none;
    background: #2691d9;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    background: #24262b;
    transition: 0.5s;
}

.signup{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;

}

.signup a{
    color: #2691d9;
    text-decoration: none;
}

.signup a:hover{
    text-decoration: underline;
}
